

.time-container {
    height: 100%;
    width: 100%;
    background-color: #EEEEEE;
    overflow: hidden;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}