.break-view{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url('../../assets/circles.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: #222222;
    margin: 0 auto;
}

.break-items-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 35%;
    margin-top: 55%;
}

.break-items__text{
    font-family: PT Sans;
    font-size: 2rem;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
    
}

.break-items__timer{
    font-family: PT Sans;
    font-size: 2rem;
    font-weight: 700;
    line-height: 47px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 2rem;
}
.btn-styled__times-up{
    margin-bottom:-20% ;
    color: #FFFFFF;
    background-color: #222222;
    border-radius: 20%;
    border-color: #FFFFFF;
    border-radius: 1rem !important;
    font-size: 1.4rem !important;
}

